@import url('https://fonts.googleapis.com/css2?family=Georgia&display=swap');

:root {
    --cor-de-fundo: #f0f8ff; /* azul bebê */
    --verde: #4682B4; /* azul aço suave */
    --branco: #FFFFFF;
    --botao-ativo: #b0c4de; /* azul claro */
    --botao-inativo: rgba(176, 196, 222, 0.6); /* azul claro translúcido */
    --texto-fundo: rgba(255, 255, 255, 0.95);
}

body {
    background-color: var(--cor-de-fundo);
    color: #333;
    font-family: 'Georgia', serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao {
    font-family: 'Georgia', serif;
    background-color: var(--botao-inativo);
    color: #333;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin: 0.5em 0;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--botao-ativo);
}

.botao.ativo {
    background-color: var(--botao-ativo);
    font-weight: bold;
}

.botoes {
    display: block;
}

.abas-textos {
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aba-conteudo.ativo {
    display: block;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo-titulo-principal {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.aba-conteudo-titulo-secundario {
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

.contador {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.contador-digito {
    padding: 16px;
    text-align: center;
    min-width: 100px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contador-digito-numero {
    font-size: 64px;
    margin: 0;
    color: #333;
}

.contador-digito-texto {
    color: var(--verde);
    font-size: 18px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
        gap: 16px;
    }

    .botao:first-child,
    .botao:last-child {
        border-radius: 20px;
    }
}